<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="AubergInn">
	<display-name>Systeme de gestion de AubergInn</display-name>
	<servlet>
		<servlet-name>jsp</servlet-name>
		<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
		<init-param>
			<param-name>fork</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>xpoweredBy</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>javaEncoding</param-name>
			<param-value>ISO-8859-1</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<listener>
		<listener-class>Servlet.AubergInnSessionListener</listener-class>
		<listener-class>Servlet.AubergInnContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>Servlet.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>Servlet.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Chambre</servlet-name>
		<servlet-class>Servlet.Chambre</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Client</servlet-name>
		<servlet-class>Servlet.Client</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Service</servlet-name>
		<servlet-class>Servlet.Service</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Reservation</servlet-name>
		<servlet-class>Servlet.Reservation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChambreService</servlet-name>
		<servlet-class>Servlet.ChambreService</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChambreDetail</servlet-name>
		<servlet-class>Servlet.ChambreDetail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ClientReservation</servlet-name>
		<servlet-class>Servlet.ClientReservation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Chambre</servlet-name>
		<url-pattern>/Chambre</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Client</servlet-name>
		<url-pattern>/Client</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Service</servlet-name>
		<url-pattern>/Service</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Reservation</servlet-name>
		<url-pattern>/Reservation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChambreService</servlet-name>
		<url-pattern>/ChambreService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChambreDetail</servlet-name>
		<url-pattern>/ChambreDetail</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ClientReservation</servlet-name>
		<url-pattern>/ClientReservation</url-pattern>
	</servlet-mapping>
</web-app>
